.mediaList {
  width: 100%;
}
.mediaList__h {
  margin: 24px 0 0;
  padding: 0;
}
.medias {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1004px;
  width: 100%;
  margin: 0;
  padding: 24px 0 0;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
  overflow: hidden;
  width: 186px;
  height: 186px;
  margin: 0 18px 17px 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: #eee;
}
.media:nth-of-type(5n) {
  margin-right: 0;
}
.media__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  padding: 0 0.5em;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.media img {
  max-width: 184px;
  width: 100%;
}

.media.media____uploading img {
  opacity: 0.5;
}

.media.media____error {
  border-color: #f99;
}

.media.media____error img {
  opacity: 0.5;
}
