extends layout

block content
  h1 Upload images 
  p Evernote User Name: #{user.name}
  p
    input(type="file" name="imagefiles[]" id="imagefiles" multiple accept=".jpg,.jpeg,.png,.gif")
  #list
  p
    a(href="/") &lt;&lt; Back to index

  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="/javascripts/script.js")
