extends layout

block content
  h1= title
  p
    a.btn.btn-evernote-signin(href="/oauth_signin") Evernote Sign-in
  p #{title} is easy way to make diary on Evernote with your photos. <br />
    | All you need is sign-in with your Evernote account and upload your photos from the upload form. <br />
    | Then you would get auto generated posts with your photos on your Evernote "Diary" notebook.
