/*
 * Basic
 */
body {
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #00b7ff;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1004px;
  margin: 0 auto;
}
.lead {
  width: 100%;
  max-width: 640px;
  font-size: 16px;
  line-height: 1.5;
}

/*
 * logo
 */
.globalHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.globalHeader .logo {
  width: 49%;
}
.globalHeader .logo a {
  display: block;
  width: 154px;
  border: 1px solid #ccc;
  color: #666;
  text-align: center;
  text-decoration: none;
  line-height: 58px;
}
.globalHeader .userInfo {
  width: 49%;
  text-align: right;
  line-height: 60px;
}

/*
 * layout
 */
.uploadUI1 {
  width: 494px;
}
.uploadUI2 {
  width: 494px;
}

/*
 * Button
 */
.btn {
  max-width: 360px;
  width: 100%;
  padding: 0;
  color: #666;
  border-radius: 8px;
  border: 0;
  background-color: #d1d1d1;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
}

/*
 * Input
 */
.inputFile label {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  padding: 0;
  color: #666;
  border-radius: 8px;
  border: 0;
  background-color: #d1d1d1;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
}
.inputFile input[type="file"] {
  display: none;
}

/*
 * Typograph
 */
.notes {
  padding: 0;
}
.notes li {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.75;
}
.notes li:before {
  content: "*";
  margin-right: 0.5em;
}

/*
 * media
 */
.mediaList {
  width: 100%;
}
.medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1004px;
  width: 100%;
  margin: 0;
  padding: 24px 0 0;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
  width: 185px;
  height: 185px;
  margin: 0 0 17px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: #eee;
}
.media img {
  max-width: 183px;
  max-height: 183px;
  width: 100%;
}

.media.media--uploading img {
  opacity: 0.5;
}

.media.media--error {
  border-color: #f99;
}

.media.media--error img {
  opacity: 0.5;
}
